#content{
    width: 100%;
    height: 100%;
    text-align: center;
}

#heading {
    text-align: center;
    padding-bottom: 10%;
}

#body{
    padding-top: 2%;
    padding-left: 30%;
}

#opciones{
    align-items: center;
    padding-top: 5%
}

table, td, tr {
    border: solid 1px black;
    border-collapse: collapse;
    
}

td{
    padding-left: 10px;
    padding-right: 10px
}

